*{
  color: white;
}
header{
  height: 100px;
}
header ul li{
  font-size: 16px;
  color: #2b2b2b;
  margin: 15px;
}
.open-sans{
  font-family: 'Open Sans', sans-serif;
}
.raleway{
  font-family: 'Raleway', sans-serif;
}
.menu{
  display: flex;
  align-items: center;
  height: 100px;
}
#hamburguer span{
  color: #adadad;
}
/*footer*/
footer{
  background-color: #2b2b2b;
  padding: 30px 0;
}
footer ul li{
  padding: 10px;
}
.store{
  padding: 5px;
}
@media (max-width: 767px){
  .store {
    width: 100%;
}
}
